[log]
  level = "WARN"

[providers]
  [providers.docker]
    exposedByDefault = false
  [providers.file]
    directory = "/data/dynamic"

[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"

[certificatesResolvers.lets-encrypt.acme]
  storage = "/data/acme.json"
  email = "${ACME_EMAIL}"
  [certificatesResolvers.lets-encrypt.acme.tlsChallenge]
    entryPoint = "http"
